{% extends 'base.html.twig' %}

{% block title %}{{ survey.title }}{% endblock %}

{% block body %}
	{% if survey.status %}
		<div class="row">
			<div class="col">
				<div class="text-center m-2">
					<a class="btn btn-primary btn-sm" id="progress-js" href="{{ path('answer', {'id': survey.id}) }}" role="button">Enregistrer</a>
				</div>
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
					<div class="carousel-inner text-center">
						<div class="carousel-item active">
							<h1 class="display-4">{{ survey.title }}</h1>
							<h5>{{ survey.description }}</h5>
							<img src="img/icons/emoticones96/icons8-smiling-face-with-heart-eyes-96.png">
							<p>
								<small class="text-muted">
									Enquête réalisée par {{ survey.author.username }}, le {{ survey.createdAt | date('d M Y') }}
								</small>
							</p>
							{% include 'utilities/progress.html.twig' %}
						</div>
						{% if (survey.questions | length) > 0 %}
							{% set num = 0 %}
							{% for question in survey.questions %}
							{% set num = num + 1 %}
								<div class="carousel-item">
									<h1 class="display-4">{{ num }}. {{ question.question }}</h1>
									<div class="form-group">
								    {% if question.categoryQuestion.id == 1 %}
										{% include 'block/mood.html.twig' %}
								    {% elseif question.categoryQuestion.id == 2 %}
										{% include 'block/star.html.twig' %}
								    {% elseif question.categoryQuestion.id == 3 %}
										{% include 'block/mark.html.twig' %}
								    {% elseif question.categoryQuestion.id == 4 %}
										{% include 'block/choice.html.twig' %}
								    {% elseif question.categoryQuestion.id == 5 %}
										{% include 'block/text.html.twig' %}
								    {% elseif question.categoryQuestion.id == 6 %}
										{% include 'block/gif.html.twig' %}
									{% endif %}
									{% for answer in question.answers %}
										{% if answer.author == app.user %}
											{% if (answer.answer | length) > 0 %}
												<div class="alert alert-info {{ question.id }} m-2" role="alert">
														<i class="fas fa-check"></i>
														Vous avez indiqué le {{ answer.createdAt | date('d/m') }}
													{% if question.categoryQuestion.id == 1 %}
														que votre humeur était de {{ answer.answer }} sur 5.
													{% elseif question.categoryQuestion.id == 2 %}
														mettre {{ answer.answer }} &#9733; à cette question.
													{% elseif question.categoryQuestion.id == 3 %}
														mettre {{ answer.answer }} sur 10 à cette question.
													{% elseif question.categoryQuestion.id == 4 %}
														choisir
															{% for questionMultipleChoice in question.questionMultipleChoices %}
																{% if questionMultipleChoice.id == answer.answer %}
																	<STRONG>
																		"{{ questionMultipleChoice.content }}"
																	</STRONG>
																{% endif %}
															{% endfor %}
														à cette question.
													{% elseif question.categoryQuestion.id == 5 %}
														: <STRONG>"{{ answer.answer }}"</STRONG>
													{% elseif question.categoryQuestion.id == 6 %}
														: <br><img src="https://media.giphy.com/media/{{ answer.answer }}/giphy.gif" class="img-fluid"><br>
													{% endif %}
												</div>
											{% endif %}
										{% endif %}
									{% endfor %}
						    		</div>
								</div>
							{% endfor %}
						{% else %}
							<div class="carousel-item">
								<p class="text-center">
									<small class="text-muted">Il n'y a pas de question encore.</small>
								</p>
							</div>
						{% endif %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	{% else %}
		<h1 class="display-4">L'enquête est fermée. Revenez plus tard.</h1>
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

		var counter = 0;
		document.getElementById("progress-js").hidden = true;

		function onClickAnswerSelected(event){
			event.preventDefault();

			const url = this.href;
			const selectId = this.id;
			console.log(selectId);

			document.querySelectorAll('.contentImg').forEach(function(content){
				if (content.classList.contains(selectId)) {
					content.classList.replace('backgroundcolorgreen','backgroundcolorwhite');
				} 
			});

			document.querySelectorAll('div.alert-info').forEach(function(alert){
				if (alert.classList.contains(selectId)) {
					alert.hidden = true;
				}
			});

			const contentImg = this.querySelector('.contentImg');

			axios.get(url).then(function(response) {

				if (contentImg.classList.contains(response.data.answer)) {
					contentImg.classList.replace('backgroundcolorwhite','backgroundcolorgreen');
				} 

				counter++;
				document.getElementById("progress-js").hidden = false;
				console.log(response.data.answer);
			});
		}

		document.querySelectorAll('a.js-selected').forEach(function(link){
			link.addEventListener('click', onClickAnswerSelected);
		});

    	function onClickPostAnswer(event){
    		event.preventDefault();

    		counter++;
			console.log(counter);

    		const selectId = this.id;
    		console.log(selectId);
    		
    		const saisie = document.getElementById(selectId).value;

    		var url = this.href;
    		url = url.replace("value", saisie);

    		document.querySelectorAll('div.alert-info').forEach(function(alert){
				if (alert.classList.contains(selectId)) {
					alert.hidden = true;
				}
			});

			axios.get(url).then(function(response) {

				document.querySelectorAll('div.alert-success').forEach(function(alert){
					if (alert.classList.contains(selectId)) {
						alert.hidden = false;
						console.log(alert.firstChild.textContent);
						alert.firstChild.textContent = "Réponse enregistrée : \""+response.data.answer+"\"";
					} 
				});

				counter++;
				document.getElementById("progress-js").hidden = false;
				console.log(response.data.answer);
			});
    	}    	

		document.querySelectorAll('div.alert-success').forEach(function(alert){
			alert.hidden = true;
		});

    	document.querySelectorAll('a.js-text').forEach(function(link){
			link.addEventListener('click', onClickPostAnswer);
		});   

	</script>
{% endblock %}
