{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; {{ survey.title }}{% endblock %}

{% block body %}
	<div class="row">
	  <div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}</h1>
		<p>{{ survey.description }}</p>
		<h5>{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %}</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author }}, le {{ survey.createdAt | date('d/m/Y') }}
			</small>
		</p>
	  </div>
	  <div class="col-sm-8">
			{% set num = 0 %}
			{% for question in survey.questions %}
				{% set num = num + 1 %}
				<div class="card mb-1 mt-1">
				  <div class="card-body">
				    <h5 class="card-title">{{ num }}. {{ question.question }}</h5>
				    <h5 class="card-title">{{ question.id }}</h5>
				    <div class="form-group">
				    	<label for="answer{{ num }}">Votre réponse:</label>
						{% if question.categoryQuestion.title == 'text'%}
							{% include 'blocks/text.html' %}
						{% elseif question.categoryQuestion.title == 'mood'%}
							{% include 'blocks/mood.html' %}
						{% elseif question.categoryQuestion.title == 'star'%}
							{% include 'blocks/star.html' %}
						{% elseif question.categoryQuestion.title == 'mark'%}
							{% include 'blocks/mark.html' %}
						{% else %}
							<i class="fas fa-list-ol"></i> Choice
						{% endif %}
				    </div>
				  </div>
				</div>
			{% endfor %}
		<p class="text-center"><small class="text-muted">fin du formulaire</small></p>
	  </div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>

		function onClickAnswerSelected(event){
			event.preventDefault();

			const url = this.href;
			const selectId = this.id;
			console.log(selectId);

			document.querySelectorAll('.contentImg').forEach(function(content){
				if (content.classList.contains(selectId)) {
					content.classList.replace('backgroundcolorgreen','backgroundcolorwhite');
				} 
			});

			const contentImg = this.querySelector('.contentImg');
			// const spanAnswer = this.querySelector('span.answer');

			axios.get(url).then(function(response) {

				if (contentImg.classList.contains(response.data.answer)) {
					contentImg.classList.replace('backgroundcolorwhite','backgroundcolorgreen');

				} 

				console.log(response.data.answer);
				// spanAnswer.textContent = response.data.answer;
			});
		}

		document.querySelectorAll('a.js-selected').forEach(function(link){
			link.addEventListener('click', onClickAnswerSelected);
		});

	</script>


{% endblock %}
