{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; {{ survey.title }}{% endblock %}

{% block body %}
	<div class="row">
	  <div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}</h1>
		<p>{{ survey.description }}</p>
		<h5>{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %}</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author }}, le {{ survey.createdAt | date('d/m/Y') }}
			</small>
		</p>
	  </div>
	  <div class="col-sm-8">
			{% set num = 0 %}
			{% for question in survey.questions %}
				{% set num = num + 1 %}
				<div class="card mb-1 mt-1">
				  <div class="card-body">
				    <h5 class="card-title">{{ num }}. {{ question.question }}</h5>
				    <h5 class="card-title">{{ question.id }}</h5>
				    <div class="form-group">
				    	<label for="answer{{ num }}">Votre réponse:</label>
						{% if question.categoryQuestion.title == 'text'%}
							{% include 'blocks/text.html' %}
						{% elseif question.categoryQuestion.title == 'mood'%}
							{% include 'blocks/mood.html' %}
						{% elseif question.categoryQuestion.title == 'star'%}
							{% include 'blocks/star.html' %}
						{% elseif question.categoryQuestion.title == 'mark'%}
							{% include 'blocks/mark.html' %}
						{% elseif question.categoryQuestion.title == 'choice'%}
							{% include 'blocks/choice.html' %}
						{% elseif question.categoryQuestion.title == 'gif'%}
							<i class="fas fa-video"></i> GIF
							{% include 'blocks/gif.html' %}
						{% endif %}
				    </div>
				  </div>
				</div>
			{% endfor %}
		<p class="text-center"><small class="text-muted">fin du formulaire</small></p>
	  </div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		document.querySelectorAll('div.alert').forEach(function(alert){
			alert.hidden = true;
		});

		function onClickAnswerSelected(event){
			event.preventDefault();

			const url = this.href;
			const selectId = this.id;
			console.log(selectId);

			document.querySelectorAll('.contentImg').forEach(function(content){
				if (content.classList.contains(selectId)) {
					content.classList.replace('backgroundcolorgreen','backgroundcolorwhite');
				} 
			});

			const contentImg = this.querySelector('.contentImg');

			axios.get(url).then(function(response) {

				if (contentImg.classList.contains(response.data.answer)) {
					contentImg.classList.replace('backgroundcolorwhite','backgroundcolorgreen');

				} 

				console.log(response.data.answer);
			});
		}

		document.querySelectorAll('a.js-selected').forEach(function(link){
			link.addEventListener('click', onClickAnswerSelected);
		});

    	function onClickPostAnswer(event){
    		event.preventDefault();

    		const selectId = this.id;
    		console.log(selectId);
    		
    		const saisie = document.getElementById(selectId).value;

    		var url = this.href;
    		url = url.replace("value", saisie);

			axios.get(url).then(function(response) {
				console.log(response.data.answer);

				document.querySelectorAll('div.alert').forEach(function(alert){
					if (alert.classList.contains(selectId)) {
						alert.hidden = false;
						console.log(alert.firstChild.textContent);
						alert.firstChild.textContent = response.data.answer;
					} 
				});
			});
    	}    	

    	document.querySelectorAll('a.js-text').forEach(function(link){
			link.addEventListener('click', onClickPostAnswer);
		});

		function onClickSearchGif(event){
    		event.preventDefault();

    		const selectId = this.id;
    		console.log(selectId);
    		
    		const saisieGif = document.getElementById(selectId).value;

    		var url = this.href;
    		url = url.replace("value", saisieGif);

			axios.get(url).then(function(response) {
				console.log(response.data.srcs);

				document.querySelectorAll('div.gif').forEach(function(gif){
					if (gif.classList.contains(selectId)) {

						for (var i = 0; i < response.data.srcs.length; i++) {
							
							var getId = response.data.ids[i];

						    var route = {
						        myroute:{
						            route:"{{ path('postAnswer', {'id': 'id', 'value': 'value'}, true) }}"
						        },
						    };

							
							var a = document.createElement('a');
							a.class = selectId;
							a.class = "js-post-gif";
							// a.href = "../form/post/"+selectId+"/"+getId;
							a.href = route.myroute.route;

			        		a.href = a.href.replace("id", selectId);
			        		a.href = a.href.replace("value", getId);
							
							gif.appendChild(a);


						    console.log(a.href);

							var img = document.createElement('img');
							img.style.height = '200px';
							img.style.width = '200px';
							img.src = response.data.srcs[i];
							img.alt = response.data.ids[i];

							a.appendChild(img);

						}
					} 
				});
			});
    	}

    	document.querySelectorAll('a.js-gif').forEach(function(link){
			link.addEventListener('click', onClickSearchGif);
		});


	</script>
{% endblock %}
