{% extends 'base.html.twig' %}

{% block title %}{{ survey.title }}{% endblock %}

{% block body %}
	<div class="row">
	{% if survey.status %}
		<div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}</h1>
		<p>{{ survey.description }}</p>
		<h5>
			{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %}
		</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author.username }}, le {{ survey.createdAt | date('d M Y') }}
			</small>
		</p>
		</div>
		<div class="col-sm-8">
		  	{% if (survey.questions | length) > 0 %}
				{% set num = 0 %}
				{% for question in survey.questions %}
					{% set num = num + 1 %}
					<div class="card mb-1 mt-1">
					  <div class="card-body">
					    <h5 class="card-title">{{ num }}. {{ question.question }}</h5>
					    <div class="form-group">
							{% for answer in question.answers %}
								{% if answer.author == app.user %}
									{% if (answer.answer | length) > 0 %}
										<div class="alert alert-info {{ question.id }} m-1" role="alert">
												<i class="fas fa-hourglass-start"></i>
												Vous avez indiqué le {{ answer.createdAt | date('d/m') }}
											{% if question.categoryQuestion.id == 1 %}
												que votre humeur était de {{ answer.answer }} sur 5.
											{% elseif question.categoryQuestion.id == 2 %}
												mettre {{ answer.answer }} &#9733; à cette question.
											{% elseif question.categoryQuestion.id == 3 %}
												mettre {{ answer.answer }} sur 10 à cette question.
											{% elseif question.categoryQuestion.id == 4 %}
												choisir
													{% for questionMultipleChoice in question.questionMultipleChoices %}
														{% if questionMultipleChoice.id == answer.answer %}
															<STRONG>
																"{{ questionMultipleChoice.content }}"
															</STRONG>
														{% endif %}
													{% endfor %}
												à cette question.
											{% elseif question.categoryQuestion.id == 5 %}
												: <STRONG>"{{ answer.answer }}"</STRONG>
											{% elseif question.categoryQuestion.id == 6 %}
												: <br><img src="https://media.giphy.com/media/{{ answer.answer }}/giphy.gif" class="img-fluid">
											{% endif %}
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						    {% if question.categoryQuestion.id == 1 %}
								{% include 'block/mood.html.twig' %}
						    {% elseif question.categoryQuestion.id == 2 %}
								{% include 'block/star.html.twig' %}
						    {% elseif question.categoryQuestion.id == 3 %}
								{% include 'block/mark.html.twig' %}
						    {% elseif question.categoryQuestion.id == 4 %}
								{% include 'block/choice.html.twig' %}
						    {% elseif question.categoryQuestion.id == 5 %}
								{% include 'block/text.html.twig' %}
						    {% elseif question.categoryQuestion.id == 6 %}
								{% include 'block/gif.html.twig' %}
							{% endif %}
					    </div>
					  </div>
					</div>
				{% endfor %}
				<div class="alert alert-danger" role="alert">
					Il a 
					{% set numAnswer = 0 %}
						{% if (survey.questions | length) > 0 %}
							{% for question in survey.questions %}
								{% for answer in question.answers %}
									{% if answer.author == app.user %}
										{% set numAnswer = numAnswer + 1 %}
									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endif %}
					{{ numAnswer }}
					réponse{% if numAnswer > 1 %}s{% endif %} envoyée{% if numAnswer > 1 %}s{% endif %}
					sur {{ survey.questions | length }} question{% if survey.questions | length > 1 %}s{% endif %}.
					{% if numAnswer == (survey.questions | length) %}
						<i class="fas fa-fire-alt"></i> Bravo !
					{% else %}
						Complétez ce qui manque et
						<a href="{{ path('answer', {'id': survey.id}) }}">
							envoyez</a>.
					{% endif %}
				</div>
				<p class="text-center"><small class="text-muted">fin de l'enquête</small></p>
			{% else %}
				<p class="text-center">
					<small class="text-muted">Il n'y a pas de question encore.</small>
				</p>
			{% endif %}
		</div>
	{% else %}
		<h1 class="display-4">L'enquête est fermée. Revenez plus tard.</h1>
	{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>


		function onClickAnswerSelected(event){
			event.preventDefault();

			const url = this.href;
			const selectId = this.id;
			console.log(selectId);

			document.querySelectorAll('.contentImg').forEach(function(content){
				if (content.classList.contains(selectId)) {
					content.classList.replace('backgroundcolorgreen','backgroundcolorwhite');
				} 
			});

			document.querySelectorAll('div.alert-info').forEach(function(alert){
				if (alert.classList.contains(selectId)) {
					alert.hidden = true;
				}
			});

			const contentImg = this.querySelector('.contentImg');

			axios.get(url).then(function(response) {

				if (contentImg.classList.contains(response.data.answer)) {
					contentImg.classList.replace('backgroundcolorwhite','backgroundcolorgreen');

				} 

				console.log(response.data.answer);
			});
		}

		document.querySelectorAll('a.js-selected').forEach(function(link){
			link.addEventListener('click', onClickAnswerSelected);
		});

    	function onClickPostAnswer(event){
    		event.preventDefault();

    		const selectId = this.id;
    		console.log(selectId);
    		
    		const saisie = document.getElementById(selectId).value;

    		var url = this.href;
    		url = url.replace("value", saisie);

    		document.querySelectorAll('div.alert-info').forEach(function(alert){
				if (alert.classList.contains(selectId)) {
					alert.hidden = true;
				}
			});

			axios.get(url).then(function(response) {
				console.log(response.data.answer);

				document.querySelectorAll('div.alert-success').forEach(function(alert){
					if (alert.classList.contains(selectId)) {
						alert.hidden = false;
						console.log(alert.firstChild.textContent);
						alert.firstChild.textContent = "\""+response.data.answer+"\"";
					} 
				});
			});
    	}    	

		document.querySelectorAll('div.alert-success').forEach(function(alert){
			alert.hidden = true;
		});

    	document.querySelectorAll('a.js-text').forEach(function(link){
			link.addEventListener('click', onClickPostAnswer);
		});    	

 

	</script>
{% endblock %}
