{% extends 'base.html.twig' %}

{% form_theme surveyForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1 class="display-4">
		{% if editMode %}
			Modification
		{% else %}
			Création
		{% endif %}
		d'une enquête
	</h1>

	{{ form_start (surveyForm) }}

		{{ form_row ( surveyForm.author, {'label' : 'Auteur de l\'enquête (5 caractères min.)','attr' : {'placeholder': "Auteur de l'enquête"}} ) }}
		{{ form_row ( surveyForm.title, {'label' : 'Titre de l\'enquête (10 caractères min.)','attr' : {'placeholder': "Titre de l'enquête"}} ) }}
		{{ form_row ( surveyForm.description, {'label' : 'Description de l\'enquête (option)','attr' : {'placeholder': "Description de l'enquête"}} ) }}

		<button type="submit" class="btn btn-primary btn-lg btn-block">
			{% if editMode %}
				Modifier
			{% else %}
				Ajouter
			{% endif %}
		</button>

	{{ form_end (surveyForm) }}

{% endblock %}