<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://img.icons8.com/ios-filled/50/000000/cool.png">

  <title>FormeSurvey</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="https://img.icons8.com/ios-filled/30/000000/cool.png"> FormeSurvey, la forme?</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Enquête</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Réponse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#why">Analyse</a>
          </li>
          <li class="nav-item">
            {% if not app.user %}
              <a class="nav-link js-scroll-trigger" href="{{ path('security_login') }}">Connexion</a>
            {% else %}
              <a class="nav-link js-scroll-trigger" href="{{ path('security_logout') }}">Déconnexion</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
      <div class="col-md-12 my-auto">
          <h1><strong>Notre solution</strong> : créer des liens entre collègues via une plateforme en ligne permettant de rejoindre un groupe autour d'une passion personnelle, d'une compétence ou d’une connaissance professionnelle !</h1><br>
          <div class="badges">
            <a href="{{ path('form') }}" class="btn btn-outline btn-xl js-scroll-trigger" target="_blank">FormeSurvey en action <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 my-auto">
          <div class="header-content mx-auto">
            <p>1. Je construis des enquêtes engageantes, simplement.

Adapté à toutes typologies d’entreprises, le back office permet de segmenter les participants en fonction de critères qui font sens pour l’organisation (métiers, départements, zones géographiques, etc.)

Créer et planifier ses enquêtes, anticiper les relances :

C’est rapide avec la bibliothèque de 200 questions catégorisées
C’est simple avec l’éditeur d’enquêtes « drag and drop »
Et c’est également sur mesure avec des questions adaptées à mes besoins</p>
          </div>
        </div>
        <div class="col-lg-7 my-auto">
                <img src="img/create_survey.png" class="img-fluid" alt="">

        </div>
        
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">

        <h2>2. Les collaborateurs répondent régulièrement, ça prend 1 minute !</h2>
        <p class="text-muted">Regardez ce qu'il est possible de faire avec FormeSurvey !</p>
          <div class="device-mockup imac">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="img/view_survey.png" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
                <p>Répondre aux enquêtes se fait de façon conversationnelle !

Via notre propre et unique chatbot, répondre devient rapide et engageant, pour de meilleurs taux de participation.

Les réponses se font naturellement (texte libre, choix fermés, avec des emojis ou avec des Gifs, etc.).

Nous intégrons également la notion de réciprocité des attentions au coeur de l’expérience. C’est pourquoi, une fois l’enquête complétée, les réponses données par l’ensemble des participants sont partagées, de façon anonyme.</p>
          <div class="badges">
            <a href="{{ path('form') }}" class="btn btn-outline btn-xl btn-secondary js-scroll-trigger" target="_blank">
              FormeSurvey en action <i class="fas fa-angle-right"></i>
            </a>
          </div>

      </div>
      <div class="row">

        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Responsive</h3>
                  <p class="text-muted">Notre solution s'adapte à tous les écrans.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Assos</h3>
                  <p class="text-muted">Mettez en lumière vos associations du personnel ! <span class="badge badge-success">bientôt</span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>0 €</h3>
                  <p class="text-muted">FormeSurvey est entièrement gratuite, avec des mises à jour fréquentes.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock text-primary"></i>
                  <h3>RGPD</h3>
                  <p class="text-muted">FormeSurvey est conforme au RGPD. Un seul clic suffit à supprimer son compte et ses données personnelles associées.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact bg-primary" id="why">
    <div class="container">
      <h2>Pourquoi (re)créer du lien entre les agents ?</h2>
      <h4>L'isolement des agents est de plus en plus observé dans la fonction publique.<br>L'application FormeSurvey renforce les liens entre collègues et permet de rejoindre un groupe autour d'une passion personnelle, d'une compétence ou connaissance professionnelle.</h4><br>
      <div class="row">
            <div class="col-lg-5 my-auto">
          <div class="header-content mx-auto">
            <p>3. J’analyse, je prends des décisions et je mesure l’impact de mes plans d’actions.

En suivant l’évolution des indicateurs d’expérience employé et de l’employee Net Promoter Score  (eNPS / Bloomin Score)
En comprenant les promoteurs et détracteurs
En identifiant les irritants les plus importants
En capitalisant sur les éléments sources de motivation
En comparant les équipes et différents départements de l’entreprise
En filtrant par typologie de salarié (ancienneté, homme/femme, âge, région, fonciton…)
En étant alerté pour décider rapidement</p>
          </div>
        </div>
        <div class="col-lg-7 my-auto">
                <img src="img/result_survey.png" class="img-fluid" alt="">

        </div>
     
    </div>
</section>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Créée par des agents, pour les agents de la Fonction Publique.</h2>
        <a href="{{ path('form') }}" class="btn btn-outline btn-xl js-scroll-trigger" target="_blank">Go ! <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

<!--   <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>En contribuant à FormeSurvey, tu nous permets d'aider plein d'administrations à devenir géniales !</h2>
      <h4>Choisis un montant pour ta contribution, à partir de... 0€ ;)</h4><br>
      <a href="https://www.leetchi.com/c/FormeSurvey" class="btn btn-outline btn-xl js-scroll-trigger" target="_blank">Contribuer à la cagnotte leetchi <i class="fas fa-angle-right"></i></a>
      <br><br><br>
        <div class="card w-50" style="margin: 0 auto; text-align: left; background-color: lightgrey;">
          <div class="card-body">
            <h5 class="card-title">Objectif actuel :<br><strong>4 000€</strong></h5>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 2%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"></div>
            </div><br>
            <p class="card-text">Avec 4 000€, on engage une nouvelle personne dans l’équipe pour accélérer le développement de la plateforme. On a plein d’idées en tête pour améliorer l’expérience FormeSurvey, mais il nous faut de la force de frappe au niveau du code. Et qui sait, cette personne, c’est peut-être toi ;)</p>
          </div>
        </div>   
    </div>
</section> -->
<!-- 
<section class="contact bg-primary" id="contact">
    <div class="container-fluid">
      <div class="row mt-3">
          <div class="col-lg-4 col-md-12 py-5" style="padding: 5%;">
              <a class="twitter-timeline" data-width="400" data-height="400" data-theme="light" data-link-color="#981CEB" href="https://twitter.com/FormeSurveyTwit?ref_src=twsrc%5Etfw">Tweets by FormeSurveyTwit</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-lg-6 col-md-10 py-5 m-auto">
              <p class="display-4 mb-4 text-secondary">
                  <i class="fa fa-quote-left"></i>
              </p>
              <p class="display-4 mb-4">Ils nous font confiance</p>
              <a href="http://www.douane.gouv.fr" target="_blank"><img src="img/logo/Douanes-droits-indirects.jpg" alt="..." class="img-thumbnail" height="200" width="200"></a>
              <a href="https://travail-emploi.gouv.fr" target="_blank"><img src="img/logo/238bab83b842888e1040fa154ac3e3.jpg" alt="..." class="img-thumbnail" height="150" width="150"></a>
              <a href="https://lafabriquerh.wordpress.com/" target="_blank"><img src="img/logo/Y2pFAuRk_400x400-2.jpg" alt="..." class="img-thumbnail" height="180" width="180"></a>
              <a href="https://www.ecologique-solidaire.gouv.fr/" target="_blank"><img src="img/logo/Logo_DRIEE_Ile-de-France.png" alt="..." class="img-thumbnail" height="150" width="150"></a>
              <a href="https://www.ird.fr" target="_blank"><img src="img/logo/01ac2dceab5eb6a3-ff559.jpg" alt="..." class="img-thumbnail" height="150" width="150"></a>
          </div>
      </div>
    </div>
</section> -->

  <footer>
    <div class="container">
      	<p>&copy; FormeSurvey 2020. Tous droits réservés.</p>
        <p>Homemade by Alexis Queune</p>
      	<br>
		<img src="https://img.icons8.com/ios-filled/50/000000/cool.png">
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>


</body>

</html>
