{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &bull; {{ title }}{% endblock %}

{% block body %}
	<h1 class="display-4">Mon espace de travail</h1>
		<div class="card-columns">
			<a href="{{ url('form_create') }}">
				<div class="card p-4 bg-primary text-white">
					<blockquote class="blockquote mb-0 card-body">
						<h2>Nouveau FormeSurvey</h2>
						<div class="text-center">
							<span style="font-size: 48px;">
								<i class="fas fa-plus-circle"></i>
							</span>
						</div>
					</blockquote>
				</div>
			</a>
			{% for survey in surveys  %}
		  		{% if app.user == survey.author %}
					<div class="card {{ survey.id }}
						{% if survey.status %}
							backgroundcolorhoneydew
						{% else %}
							backgroundcolormistyrose
						{% endif %}
						;">
						<div class="card-body m-2">
							<div class="container">
								<div class="row justify-content-between">
									<div class="col-11 p-0">
										<h5 class="card-title">#{{ survey.id }} &bull; {{ survey.title | u.truncate(50, '...') }}</h5>
										<p class="card-text">
											{% if not survey.description %}
									      		<em>non renseignée</em>
									      	{% else %}
									      		{{ survey.description | u.truncate(50, '...') }}
									      	{% endif %}
										</p>
										<a href="{{ url('status', {'id': survey.id}) }}" class="js-status" id="{{ survey.id }}">
											{% if survey.status != false %}
												<span style="font-size: 1.5rem; color:black;">
													<i class="fas fa-toggle-on"></i>
												</span>
											{% else %}
												<span style="font-size: 1.5rem; color:black;">
													<i class="fas fa-toggle-off"></i>
												</span>
											{% endif %}
										</a>
									</div>
									<div class="col-1 p-0">
										<!-- Split dropleft button -->
										<div class="btn-group {{ survey.id }}">
										  <div class="btn-group dropleft {{ survey.id }}" role="group">
										    <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split {{ survey.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										      <span class="sr-only">Toggle Dropleft</span>
										    </button>
										    <div class="dropdown-menu {{ survey.id }}" id="{{ survey.id }}">
										      <!-- Dropdown menu links -->
												<a class="dropdown-item" href="{{ path('answer', {'id': survey.id}) }}" target="_blank">Visualiser <i class="fas fa-external-link-alt"></i></a>
												<a class="dropdown-item" href="{{ path('form_survey', {'id': survey.id}) }}">Modifier</a>
												<a class="dropdown-item" href="#">Partager</a>
												<a class="dropdown-item" href="{{ path('form_result', {'id': survey.id}) }}">Résultats</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item text-danger" href="#">Supprimer</a>
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer text-muted">
							{{ survey.createdAt | date('d M Y') }}
						</div>					
					</div>
				{% endif %}
	    	{% endfor %}
		</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

		function onClickAherfStatus(event){
			event.preventDefault();

			const url = this.href;
			const icone = this.querySelector('i');
			const surveyId = this.id;

			axios.get(url).then(function(response) {
				if(icone.classList.contains('fa-toggle-on')) {
					icone.classList.replace('fa-toggle-on', 'fa-toggle-off');
				} else {
					icone.classList.replace('fa-toggle-off', 'fa-toggle-on');
				}

				document.querySelectorAll('.card').forEach(function(card){
					if(card.classList.contains(surveyId) && card.classList.contains('backgroundcolorhoneydew')) {
						card.classList.replace('backgroundcolorhoneydew', 'backgroundcolormistyrose');
					} else {
						card.classList.replace('backgroundcolormistyrose', 'backgroundcolorhoneydew');
					}
				});

			});
		}

		document.querySelectorAll('a.js-status').forEach(function(link){
			link.addEventListener('click', onClickAherfStatus);
		});

	</script>
{% endblock %}
