{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; Enquêtes{% endblock %}

{% block body %}
	<h1 class="display-4">Toutes les enquêtes</h1>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Enquête</th>
	      <th scope="col">Description</th>
	      <th scope="col"><i class="fas fa-user-ninja vanished"></i></th>
	      <th scope="col"><i class="far fa-clock"></i></th>
	      <th scope="col"><i class="fas fa-toggle-on"></i></th>
	      <th scope="col"><i class="fas fa-pen-nib"></i></th>
	      <th scope="col"><i class="fas fa-poll"></i></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for survey in surveys  %}
		    <tr>
		      <th scope="row"><a href="{{ path('answer', {'id': survey.id}) }}">{{ survey.id }}</a></th>
		      <td>{{ survey.title }}</td>
		      <td>{{ survey.description }}</td>
		      <td>{{ survey.author.username }}</td>
		      <td>{{ survey.createdAt | date('d M Y') }}</td>
		      <td>
		      	<a href="{{ path('status', {'id': survey.id}) }}" class="js-status">
					{% if survey.status != false %}
						<span style="font-size: 1rem;">
							<i class="fas fa-toggle-on"></i>
						</span>
					{% else %}
						<span style="font-size: 1rem;">
							<i class="fas fa-toggle-off"></i>
						</span>
					{% endif %}
		      	</a>
		      </td>
		      <td><a href="{{ path('form_survey', {'id': survey.id}) }}"><i class="fas fa-pen-nib"></i></a></td>
		      <td><a href="{{ path('form_result', {'id': survey.id}) }}"><i class="fas fa-poll"></i></a></td>
		    </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

		function onClickAherfStatus(event){
			event.preventDefault();

			const url = this.href;
			const icone = this.querySelector('i');

			axios.get(url).then(function(response) {
				if(icone.classList.contains('fa-toggle-on')) {
					icone.classList.replace('fa-toggle-on', 'fa-toggle-off');
				} else {
					icone.classList.replace('fa-toggle-off', 'fa-toggle-on');
				}
			});
		}

		document.querySelectorAll('a.js-status').forEach(function(link){
			link.addEventListener('click', onClickAherfStatus);
		});

	</script>
{% endblock %}
