{% extends 'base.html.twig' %}

{% form_theme formQCM 'bootstrap_4_layout.html.twig' %}

{% block title %}FormeSurvey{% endblock %}

{% block body %}

	<h1 class="display-4">{{ question.question }}</h1>

	<h6>Propositions de réponse :</h6>

	<ul class="list-group list-group-flush">
		{% for questionMultipleChoice in question.questionMultipleChoices %}
			<li class="list-group-item list-group-item-action">{{ questionMultipleChoice.content }}</li>
		{% endfor %}
	</ul>
	<div class="m-2">
		{{ form_start(formQCM) }}

			{{ form_widget(formQCM.content, {'attr':{'placeholder':"Une nouvelle proposition de réponse..."}}) }}

			<button type="submit" class="btn btn-success btn-block mt-1">
			Ajouter
			</button>

		{{ form_end(formQCM) }}
	</div>


	<br><a href="{{ path('form_survey', {'id': question.survey.id}) }}"><i class="far fa-hand-point-left"></i> Retour</a>

{% endblock %}