{% extends 'base.html.twig' %}

{% form_theme formQCM 'bootstrap_4_layout.html.twig' %}

{% block title %}FormeSurvey{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col align-self-center m-5">

		<h4>{{ question.question }}</h4>

		{{ form_start(formQCM) }}

			{{ form_row(formQCM.content, {'label' : 'Une proposition de réponse :','attr':{'placeholder':"Une proposition de réponse..."}}) }}

			<button type="submit" class="btn btn-primary btn-lg btn-block m-1">
			Ajouter
			</button>

		{{ form_end(formQCM) }}

		<ul class="list-group list-group-flush">
			{% for questionMultipleChoice in question.questionMultipleChoices | reverse %}
				<li class="list-group-item">{{ questionMultipleChoice.content }}</li>
			{% endfor %}
		</ul>

      	<a href="{{ path('form_survey', {'id': question.survey.id}) }}" class="btn btn-success btn-lg btn-block m-1" role="button">Retour</a>

		</div>
	</div>
</div>

{% endblock %}