{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; Résultat{% endblock %}

{% block body %}
	<div class="row">
	  <div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}</h1>
		<p>{{ survey.description }}</p>
		<p>Département : {{ value }}</p>
		<h5>{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %}</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author.username }}, le {{ survey.createdAt | date('d/m/Y') }}
			</small>
		</p>
	  </div>
	  <div class="col-sm-8">
		<div class="card mb-1 mt-1">
			<div class="card-body">
			</div>
		</div>
		{% set num = 0 %}
		{% for question in survey.questions %}
			{% set num = num + 1 %}
			<div class="card mb-1 mt-1">
			  <div class="card-body">
			    <h5 class="card-title">{{ num }}. {{ question.question }}</h5>
			    <p class="card-text">{{ question.categoryQuestion.title }}</p>
		    	{% if question.categoryQuestion.title == 'text'%}
					{% include 'block_result/text.html.twig' %}
				{% elseif question.categoryQuestion.title == 'mood'%}
					{% include 'block_result/mood.html.twig' %}
				{% elseif question.categoryQuestion.title == 'star'%}
					{% include 'block_result/star.html.twig' %}
				{% elseif question.categoryQuestion.title == 'mark'%}
					{% include 'block_result/mark.html.twig' %}
				{% elseif question.categoryQuestion.title == 'choice'%}
					{% include 'block_result/choice.html.twig' %}
				{% elseif question.categoryQuestion.title == 'gif'%}
					{% include 'block_result/gif.html.twig' %}
				{% endif %}
			  </div>
			</div>
		{% endfor %}
		<p class="text-center"><small class="text-muted">fin du formulaire</small></p>
	  </div>
	</div>

{% endblock %}
