{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; Résultat{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-3">
			{% include 'utilities/description.html.twig' %}
		</div>
		<div class="col-sm-9">
			<div class="text-center mt-1">
				{% include 'utilities/navbar.html.twig' %}
			</div>
			<div class="card m-1">
				<div class="card-body">
					<h3>Vue d'ensemble</h3>
					<div class="btn-group btn-group-sm m-1" role="group" aria-label="...">
						{% if value %}
						    	<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id}) }}" role="button">
						    		DRIEE
						    	</a>
						    {% for department in departments %}
						    	{% if department.id == value %}
							    	<a class="btn btn-light active" href="#" role="button" aria-pressed="true">
							    		{{ department.name }}
							    	</a>
						    	{% else %}
						    		<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id, 'value': department.id}) }}" role="button">
						    			{{ department.name }}
						    		</a>
						    	{% endif %}
						    {% endfor %}
						{% else %}
						    	<a class="btn btn-light active" href="#" role="button" aria-pressed="true">
						    		DRIEE
						    	</a>
						    {% for department in departments %}
						    	<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id, 'value': department.id}) }}" role="button">
						    		{{ department.name }}
						    	</a>
						    {% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="border border-secondary p-1 m-1">
			<h3 class="m-4">Question par question</h3>
			{% set num = 0 %}
			{% for question in survey.questions %}
				{% set num = num + 1 %}
				<div class="card m-1">
				  <div class="card-body">
				    <h5 class="card-title">
				    	<span class="badge badge-success">
						    {% if question.categoryQuestion.id == 1 %}
						    		<i class="far fa-smile"></i>
						    {% elseif question.categoryQuestion.id == 2 %}
						    		<i class="far fa-star"></i>
						    {% elseif question.categoryQuestion.id == 3 %}
						    		<i class="fas fa-marker"></i>
						    {% elseif question.categoryQuestion.id == 4 %}
							    	<i class="fas fa-list-ol"></i> 
						    {% elseif question.categoryQuestion.id == 5 %}
									<i class="far fa-comment"></i>
						    {% elseif question.categoryQuestion.id == 6 %}
									<i class="fas fa-video"></i>
						    {% endif %}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ num }}
						</span>
				    	{{ question.question }}
				    </h5>
					{% if question.categoryQuestion.id == 1 %}
						{% include 'block_result/mood.html.twig' %}
					{% elseif question.categoryQuestion.id == 2 %}
						{% include 'block_result/star.html.twig' %}
					{% elseif question.categoryQuestion.id == 3 %}
						{% include 'block_result/mark.html.twig' %}
					{% elseif question.categoryQuestion.id == 4 %}
						{% include 'block_result/choice.html.twig' %}
					{% elseif question.categoryQuestion.id == 5 %}
						{% include 'block_result/text.html.twig' %}
					{% elseif question.categoryQuestion.id == 6 %}
						{% include 'block_result/gif.html.twig' %}
					{% endif %}
				  </div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
