{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; Résultat{% endblock %}

{% block body %}
	<div class="row">
	  <div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}</h1>
		<p>{{ survey.description }}</p>
		<h5>{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %}</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author.username }}, le {{ survey.createdAt | date('d/m/Y') }}
			</small>
		</p>
	  </div>
	  <div class="col-sm-8">
		{% set num = 0 %}
		{% for question in survey.questions %}
			{% set num = num + 1 %}
			<div class="card mb-1 mt-1">
			  <div class="card-body">
			    <h5 class="card-title">{{ num }}. {{ question.question }}</h5>
			    <p class="card-text">{{ question.categoryQuestion.title }}</p>
			    {% if (question.categoryQuestion.title == 'choice') or (question.categoryQuestion.title == 'text')%}
				    <ol>
				    	{% for answer in question.answers %}
	  						<li>{{ answer.author.id }} : {{ answer.answer }}</li>
				    	{% endfor %}
					</ol> 
				{% elseif (question.categoryQuestion.title == 'mark') or (question.categoryQuestion.title == 'mood') or (question.categoryQuestion.title == 'star') %}
					{% set longueur = question.answers | length %}
					<p>Nombre de réponses : {{ longueur }}</p>
					{% set counter = 0 %}
			    	{% for answer in question.answers %}
			    		{% set counter = counter + answer.answer %}
			    	{% endfor %}
					<p>Somme : {{ counter }}</p>
					<p>Moyenne : {{ (counter/longueur) }}</p>
				{% elseif question.categoryQuestion.title == 'gif' %}
				    <ol>
				    	{% for answer in question.answers %}
	  						<li>{{ answer.author.id }} : <a href="https://giphy.com/gifs/{{ answer.answer }}" target="_blank">GIF</a></li>
				    	{% endfor %}
					</ol> 
				{% endif %}
			  </div>
			</div>
		{% endfor %}
		<p class="text-center"><small class="text-muted">fin du formulaire</small></p>
	  </div>
	</div>

{% endblock %}
