{% extends 'base.html.twig' %}

{% block title %}FormeSurvey &#8226; Résultat{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-3">
			{% include 'utilities/description.html.twig' %}
		</div>
		<div class="col-sm-9">
			<div class="col text-center m-2">
				{% include 'utilities/navbar.html.twig' %}
			</div>
			<div class="card mb-1 mt-1">
				<div class="card-body">
					{% if value %}
						<div class="btn-group btn-group-sm" role="group" aria-label="...">
						    	<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id}) }}" role="button">
						    		<i class="fas fa-poll"></i> DRIEE
						    	</a>
						    {% for department in departments %}
						    	{% if department.id == value %}
							    	<a class="btn btn-light active" href="#" role="button" aria-pressed="true">
							    		<i class="fas fa-poll"></i> {{ department.name }}
							    	</a>
						    	{% else %}
						    		<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id, 'value': department.id}) }}" role="button"><i class="fas fa-poll"></i> {{ department.name }}</a>
						    	{% endif %}
						    {% endfor %}
						</div>
					{% else %}
						<div class="btn-group btn-group-sm" role="group" aria-label="...">
						    	<a class="btn btn-light active" href="#" role="button" aria-pressed="true">
						    		<i class="fas fa-poll"></i> DRIEE
						    	</a>
						    {% for department in departments %}
						    	<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id, 'value': department.id}) }}" role="button"><i class="fas fa-poll"></i> {{ department.name }}</a>
						    {% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
			{% set num = 0 %}
			{% for question in survey.questions %}
				{% set num = num + 1 %}
				<div class="card mb-1 mt-1">
				  <div class="card-body">
				    <h5 class="card-title">{{ num }}. {{ question.question }}</h5>
					{% if question.categoryQuestion.id == 1 %}
						{% include 'block_result/mood.html.twig' %}
					{% elseif question.categoryQuestion.id == 2 %}
						{% include 'block_result/star.html.twig' %}
					{% elseif question.categoryQuestion.id == 3 %}
						{% include 'block_result/mark.html.twig' %}
					{% elseif question.categoryQuestion.id == 4 %}
						{% include 'block_result/choice.html.twig' %}
					{% elseif question.categoryQuestion.id == 5 %}
						{% include 'block_result/text.html.twig' %}
					{% elseif question.categoryQuestion.id == 6 %}
						{% include 'block_result/gif.html.twig' %}
					{% endif %}
				  </div>
				</div>
			{% endfor %}
			<p class="text-center"><small class="text-muted">fin du formulaire</small></p>
		</div>
	</div>
{% endblock %}
