{% extends 'base.html.twig' %}

{% form_theme questionForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Participer{% endblock %}

{% block body %}
	<h1 class="display-4">{{ survey.title }}</h1>
	<p>Participer de l'enquête</p>
	<p>{{ survey.description }}</p>
	<p>{{ survey.author }}</p>
	<p>{{ survey.createdAt | date('d/m/Y') }}</p>



	<h1>{{ survey.questions | length }} questions :</h1>
	{% for question in survey.questions %}
		<p>{{ question.question }}</p>
		<p>{{ question.categoryQuestion.title }}</p>
		<p>{{ question.createdAt | date('d/m/Y') }}</p>
	{% endfor %}

	{{ form_start (questionForm) }}

		{{ form_row ( questionForm.question, {'label' : 'Nouvelle question','attr' : {'placeholder': "Nouvelle question"}} ) }}
		{{ form_row ( questionForm.categoryQuestion, {'label' : 'Type de la question'} ) }}

		<button type="submit" class="btn btn-success">
			Ajouter
		</button>

	{{ form_end (questionForm) }}


{% endblock %}
