{% extends 'base.html.twig' %}

{% block title %}{{ survey.title }}{% endblock %}

{% form_theme questionForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="row">
	  <div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}</h1>
		<p>{{ survey.description }}</p>
		<h5>{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %} &#8226;
		<STRONG>
			{% if survey.status %}
				OUVERT
			{% else %}
				FERMÉ
			{% endif %}
		</STRONG>
		</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author.username }}, le {{ survey.createdAt | date('d M Y') }}
			</small>
		</p>
		<div class="btn-group btn-group-sm" role="group" aria-label="...">
			<a class="btn btn-light" href="{{ path('form_edit', {'id': survey.id}) }}" role="button"><i class="fas fa-pen-nib"></i> Modifier</a>
			<a class="btn btn-light" href="{{ path('answer', {'id': survey.id}) }}" role="button" target="_blank"><i class="fas fa-eye"></i> Enquête</a>
			<a class="btn btn-light" href="{{ path('form_result', {'id': survey.id}) }}" role="button" target="_blank"><i class="fas fa-poll"></i> Résultat</a>
		</div>
	  </div>
	  <div class="col-sm-8">
		<div class="alert alert-danger m-1" role="alert">
			<span class="deleteMessage"></span> <a href="{{ path('form_survey', {'id': survey.id}) }}"><i class="fas fa-sync-alt"></i> Rafraîchir la page</a>

		</div>
		{% set num = 0 %}
		{% for question in survey.questions %}
			{% set num = num + 1 %}
			<div class="card m-1 cardId {{ question.id }}">
			  <div class="card-body">
					<a href="{{ path('delete', {'id': question.id}) }}" class="js-delete" id="{{ question.id }}">
						<button type="button" class="close" aria-label="Close">
							<span style="font-size: 2rem; color: Tomato;">
								<i class="far fa-times-circle"></i>
							</span>
						</button>
					</a>
			    <h5 class="card-title">
			    	{{ num }}. {{ question.id }}. {{ question.question }}
			    </h5>
				    {% if question.categoryQuestion.title == 'text'%}
						<span class="badge badge-success">
							<i class="far fa-comment"></i> Texte
						</span>
				    {% elseif question.categoryQuestion.title == 'mood'%}
				    	<span class="badge badge-success">
				    		<i class="far fa-smile"></i> Humeur
				    	</span>
				    {% elseif question.categoryQuestion.title == 'star'%}
				    	<span class="badge badge-success">
				    		<i class="far fa-star"></i> Stars
				    	</span>
				    {% elseif question.categoryQuestion.title == 'mark'%}
				    	<span class="badge badge-success">
				    		<i class="fas fa-marker"></i> Mark
				    	</span>
				    {% elseif question.categoryQuestion.title == 'choice'%}
						<a href="{{ path('qcm_create', {'id': question.id}) }}">
							<span class="badge badge-success">
					    		<i class="fas fa-list-ol"></i> Choice 
					    		<span class="badge badge-light">
					    			{{ question.questionMultipleChoices | length }}
					    		</span>
					    	</span>
						</a>
				    {% elseif question.categoryQuestion.title == 'gif'%}
				    	<span class="badge badge-success">
							<i class="fas fa-video"></i> GIF
						</span>
				    {% endif %}
				<p class="card-text"><small class="text-muted">Ajoutée le {{ question.createdAt | date('d M Y') }}</small></p>
			  </div>
			</div>
		{% endfor %}
		<div class="card border-success m-1">
		  <h5 class="card-header">Ajouter une question</h5>
		  <div class="card-body">
			{{ form_start (questionForm) }}
				<div class="p-1 m-1">
					{{ form_row ( questionForm.question, {'label' : 'Question :','attr' : {'placeholder': "Comment as-tu trouvé cette réunion ?"}} ) }}
				</div>
				<div class="p-1 m-1">
					{{ form_row ( questionForm.categoryQuestion, {'label' : 'Type de la question :'} ) }}
				</div>

				<button type="submit" class="btn btn-success btn-lg btn-block">
					<i class="fas fa-plus-square"></i> Ajouter
				</button>

			{{ form_end (questionForm) }}
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}

{% block javascripts %}
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>

		var divAlert = document.querySelector('div.alert');
		divAlert.hidden = true;

		function onClickDelete(event){
			event.preventDefault();

			const url = this.href;
			const selectId = this.id;
			console.log(selectId);

			document.querySelectorAll('.cardId').forEach(function(content){
				if (content.classList.contains(selectId)) {
					content.hidden = true;
				} 
			});
			const deleteMessage = document.querySelector('span.deleteMessage');

			axios.get(url).then(function(response) {
				divAlert.hidden = false;
				deleteMessage.textContent = response.data.message;
			});
		}

		document.querySelectorAll('a.js-delete').forEach(function(link){
			link.addEventListener('click', onClickDelete);
		});

	</script>
{% endblock %}
