{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% form_theme questionForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="row">
	  <div class="col-sm-4" style="background-color:
		{% if survey.status %}
			honeydew
		{% else %}
			mistyrose
		{% endif %}
		;">
		<h1 class="display-4">{{ survey.title }}<br>
			<small>
				<a href="{{ path('form_edit', {'id': survey.id}) }}"><i class="fas fa-pen-nib"></i></a>
				&#8226;
				<a href="{{ path('answer', {'id': survey.id}) }}"><i class="fas fa-eye"></i></a>
			</small>
		</h1>
		<p>{{ survey.description }}</p>
		<h5>{{ survey.questions | length }} Question{% if survey.questions | length > 1 %}s{% endif %}</h5>
		<p>
			<small class="text-muted">
				Enquête réalisée par {{ survey.author }}, le {{ survey.createdAt | date('d/m/Y') }}
			</small>
		</p>
		<p><STRONG>
			{% if survey.status %}
				OUVERT
			{% else %}
				FERMÉ
			{% endif %}
		</STRONG></p>
	  </div>
	  <div class="col-sm-8">
		<div class="card border-success mb-3 mt-1">
		  <h5 class="card-header">Ajouter une question</h5>
		  <div class="card-body">
			{{ form_start (questionForm) }}
				<div class="shadow-sm p-2 mb-3 bg-white rounded">
					{{ form_row ( questionForm.question, {'label' : 'Question:','attr' : {'placeholder': "Comment as-tu trouvé cette réunion ?"}} ) }}
				</div>
				<div class="shadow-sm p-2 mb-3 bg-white rounded">
					{{ form_row ( questionForm.categoryQuestion, {'label' : 'Type de la question:'} ) }}
				</div>

				<button type="submit" class="btn btn-success btn-lg btn-block">
					<i class="fas fa-plus-square"></i> Ajouter
				</button>

			{{ form_end (questionForm) }}
		  </div>
		</div>
		<div class="alert alert-danger" role="alert">
			<span class="deleteMessage"></span>
		</div>
		{% set num = survey.questions | length + 1 %}
		{% for question in survey.questions | reverse %}
			{% set num = num - 1 %}
			<div class="card mt-1 cardId {{ question.id }} shadow-lg">
			  <div class="card-body">
					<a href="{{ path('delete', {'id': question.id}) }}" class="js-delete" id="{{ question.id }}">
						<button type="button" class="close" aria-label="Close">
							<span style="font-size: 2rem; color: Tomato;">
								<i class="far fa-times-circle"></i>
							</span>
						</button>
					</a>
			    <h5 class="card-title">
			    	{{ num }}. {{ question.question }} . {{ question.id }}
			    </h5>
				    {% if question.categoryQuestion.title == 'text'%}
						<span class="badge badge-success">
							<i class="far fa-comment"></i> Texte
						</span>
				    {% elseif question.categoryQuestion.title == 'mood'%}
				    	<span class="badge badge-success">
				    		<i class="far fa-smile"></i> Humeur
				    	</span>
				    {% elseif question.categoryQuestion.title == 'star'%}
				    	<span class="badge badge-success">
				    		<i class="far fa-star"></i> Stars
				    	</span>
				    {% elseif question.categoryQuestion.title == 'mark'%}
				    	<span class="badge badge-success">
				    		<i class="fas fa-marker"></i> Mark
				    	</span>
				    {% endif %}
				    {% if question.categoryQuestion.title == 'choice'%}
				    	<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
						  <i class="fas fa-list-ol"></i> Choice
						</button>

						<a href="{{ path('qcm_create', {'id': question.id}) }}">Choice</a>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Questionnaire à choix multiples</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      	{% for i in 1..10 %}
							        <div class="input-group m-1">
				                        <div class="input-group-prepend">
				                          <div class="input-group-text">
				                            <input type="radio" aria-label="Radio button for following text input">
				                          </div>
				                        </div>
				                        <input type="text" class="form-control" aria-label="Text input with radio button" name="questionCM<?php echo $j; ?>" >
				                    </div>
			                    {% endfor %}
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Confirmer</button>
						      </div>
						    </div>
						  </div>
						</div>
				    {% endif %}
				<p class="card-text"><small class="text-muted">Ajoutée le {{ question.createdAt | date('d/m/Y') }}</small></p>
			  </div>
			</div>
		{% endfor %}
		<p class="text-center"><small class="text-muted">début du formulaire</small></p>
	  </div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>

		const divAlert = document.querySelector('div.alert');
		divAlert.hidden = true;

		function onClickDelete(event){
			event.preventDefault();

			const url = this.href;
			const selectId = this.id;
			console.log(selectId);

			document.querySelectorAll('.cardId').forEach(function(content){
				if (content.classList.contains(selectId)) {
					content.hidden = true;
				} 
			});
			const deleteMessage = document.querySelector('span.deleteMessage');

			axios.get(url).then(function(response) {
				divAlert.hidden = false;
				deleteMessage.textContent = response.data.message;
			});
		}

		document.querySelectorAll('a.js-delete').forEach(function(link){
			link.addEventListener('click', onClickDelete);
		});

	</script>
{% endblock %}
