{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<h1 class="display-4">Inscription <small class="text-muted">tous les champs sont obligatoire</small></h1>

{{ form_start (form) }}

	{{ form_row ( form.username, {'required' : 'true','help' : '5 caractères min. 50 caractères max.','label' : 'Prénom','attr' : {'placeholder': "Votre prénom"}} ) }}
	{{ form_row ( form.email, {'required' : 'true','help' : 'prenom.nom@developpement-durable.gouv.fr','label' : 'Email','attr' : {'placeholder': "Votre email"}} ) }}
	{{ form_row ( form.department, {'required' : 'true','label' : 'Département'} ) }}
	{{ form_row ( form.password, {'required' : 'true','help' : '5 caractères min. 50 caractères max.','label' : 'Mot de passe','attr' : {'placeholder': "Votre mot de passe"}} ) }}
	{{ form_row ( form.confirm_password, {'required' : 'true','help' : '5 caractères min. 50 caractères max.','label' : 'Confirmation du mot de passe','attr' : {'placeholder': "Votre mot de passe"}} ) }}

	<button type="submit" class="btn btn-primary btn-block mb-5">
		Inscription
	</button>

{{ form_end (form) }}

{% endblock %}
