{% set counter = 0 %}
{% set counter0 = 0 %}
{% set counter1 = 0 %}
{% set counter2 = 0 %}
{% set counter3 = 0 %}
{% set counter4 = 0 %}
{% set counter5 = 0 %}
{% for answer in question.answers %}
	{% if answer.author.department.id == value %}
		{% set longueur = answer | length %}
		{% set counter = counter + answer.answer %}
		{% if answer.answer == 0 %}
			{% set counter0 = counter0 + 1 %}
		{% elseif answer.answer == 1 %}
			{% set counter1 = counter1 + 1 %}
		{% elseif answer.answer == 2 %}
			{% set counter2 = counter2 + 1 %}
		{% elseif answer.answer == 3 %}
			{% set counter3 = counter3 + 1 %}
		{% elseif answer.answer == 4 %}
			{% set counter4 = counter4 + 1 %}
		{% elseif answer.answer == 5 %}
			{% set counter5 = counter5 + 1 %}
		{% endif %}
		<div class="container">
			<div class="row text-center bg-light text-dark p-3">
				<div class="col-sm">
					<STRONG>{{ longueur }} réponse{% if longueur > 1 %}s{% endif %}</STRONG>
				</div>
				{% if longueur > 0 %}
					<div class="col-sm">
						<STRONG>{{ (counter/longueur) }} / 5 de moyenne</STRONG>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endfor %}

{% if value == null %}
	{% set longueur = question.answers | length %}
	{% set counter = 0 %}
	{% for answer in question.answers %}
		{% set counter = counter + answer.answer %}
		{% if answer.answer == 0 %}
			{% set counter0 = counter0 + 1 %}
		{% elseif answer.answer == 1 %}
			{% set counter1 = counter1 + 1 %}
		{% elseif answer.answer == 2 %}
			{% set counter2 = counter2 + 1 %}
		{% elseif answer.answer == 3 %}
			{% set counter3 = counter3 + 1 %}
		{% elseif answer.answer == 4 %}
			{% set counter4 = counter4 + 1 %}
		{% elseif answer.answer == 5 %}
			{% set counter5 = counter5 + 1 %}
		{% endif %}
	{% endfor %}
	<div class="container">
		<div class="row text-center bg-light text-dark p-3">
			<div class="col-sm">
				<STRONG>{{ longueur }} réponse{% if longueur > 1 %}s{% endif %}</STRONG>
			</div>
			{% if longueur > 0 %}
				<div class="col-sm">
					<STRONG>{{ (counter/longueur) }} / 5 de moyenne</STRONG>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}

<canvas id="myChartMood{{ question.id }}"></canvas>

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script type="text/javascript">
	var ctx = document.getElementById('myChartMood{{ question.id }}').getContext('2d');
	var chart = new Chart(ctx, {
	// The type of chart we want to create
	type: 'bar',

	// The data for our dataset
	data: {
	labels: [':D', ':))', ':)', ':-|', ':-/', ':('],
	datasets: [{
	label: 'Humeur',
	backgroundColor: 'rgb(255, 99, 132)',
	borderColor: 'rgb(255, 99, 132)',
	data: [
		"{{ counter5|json_encode }}",
		"{{ counter4|json_encode }}",
		"{{ counter3|json_encode }}",
		"{{ counter2|json_encode }}",
		"{{ counter1|json_encode }}",
		"{{ counter0|json_encode }}"
		]
	}]
	},

	// Configuration options go here
	options: {}
	});
</script>

{% endblock %}
