<div class="form-group">
	<input type="text" class="form-control" id="{{ question.id }}" placeholder="Rechercher un GIF...">
	<a href="{{ path('gif', {'value': 'value'}) }}" id="{{ question.id }}" class="js-gif btn btn-outline-secondary btn-sm btn-block mt-1">
		<i class="fas fa-search"></i> Rechercher
	</a>
	<div class="gif {{ question.id }} getId m-1 table-responsive m-2" id="{{ question.id }}">
	</div>
</div>

{% block javascripts %}
	
	<script>

		function onClickPostGif(event){
    		event.preventDefault();

    		var url = this.href;
    		var selectId = this.id;
    		console.log(selectId);

			document.querySelectorAll('img').forEach(function(img){
				if (img.classList.contains(selectId)) {
					img.classList.replace('backgroundcolorgreen','backgroundcolorwhite');
				} 
			});

			document.querySelectorAll('div.alert-info').forEach(function(alert){
				if (alert.classList.contains(selectId)) {
					alert.hidden = true;
				}
			});

			axios.get(url).then(function(response) {
				console.log(response.data.answer);

				document.querySelectorAll('img').forEach(function(img){
					
					if (img.classList.contains(response.data.answer)) {
						img.classList.replace('backgroundcolorwhite','backgroundcolorgreen');

					} 
				});


			});
    	}    	

		function onClickSearchGif(event){
    		event.preventDefault();

    		const selectId = this.id;
    		console.log(selectId);
    		
    		const saisieGif = document.getElementById(selectId).value;

    		var url = this.href;
    		url = url.replace("value", saisieGif);

			axios.get(url).then(function(response) {
				console.log(response.data.srcs);

				document.querySelectorAll('div.gif').forEach(function(gif){
					if (gif.classList.contains(selectId)) {

						for (var i = 0; i < response.data.srcs.length; i++) {
							
							const getId = response.data.ids[i];
							
							console.log(getId);

						    const route = {
						        myroute:{
						            route:"{{ path('postAnswer', {'id': 'id', 'value': 'value'}, true) }}"
						        },
						    };
							
							const a = document.createElement('a');
							a.className = 'js-post-gif';
							a.id = selectId;
							// a.href = "../form/post/"+selectId+"/"+getId;
							a.href = route.myroute.route;

			        		a.href = a.href.replace("id", selectId);
			        		a.href = a.href.replace("value", getId);
							
							gif.appendChild(a);

						    console.log(a.href);

							const img = document.createElement('img');
							img.style.height = '110px';
							img.style.width = '110px';
							img.src = response.data.srcs[i];
							img.alt = response.data.ids[i];
							img.className = response.data.ids[i];
							img.classList.add(selectId);
							img.classList.add("backgroundcolorwhite");

							a.appendChild(img);

							console.log(document.querySelectorAll('a.js-post-gif'));

							document.querySelectorAll('a.js-post-gif').forEach(function(link){
								link.addEventListener('click', onClickPostGif);
							});
						}
					} 
				});
			});
    	}

    	document.querySelectorAll('a.js-gif').forEach(function(link){
			link.addEventListener('click', onClickSearchGif);
		}); 

	</script>

{% endblock %}