<ul class="list-inline">
  <li class="list-inline-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 5}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 5">
        <img src="img/icons/emoticones96/icons8-smiling-face-with-heart-eyes-96.png" data-micron="tada">
        <p>5</p>
      </div>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 4}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 4">
        <img src="img/icons/emoticones96/icons8-grinning-face-96.png" data-micron="tada">
        <p>4</p>
      </div>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 3}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 3">
        <img src="img/icons/emoticones96/icons8-slightly-smiling-face-96.png" data-micron="tada">
        <p>3</p>
      </div>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 2}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 2">
        <img src="img/icons/emoticones96/icons8-neutral-face-96.png" data-micron="tada">
        <p>2</p>
      </div>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 1}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 1">
        <img src="img/icons/emoticones96/icons8-unamused-face-96.png" data-micron="tada">
        <p>1</p>
      </div>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{ path('postAnswer', {'id': question.id, 'value': 0}) }}" class="js-selected" id="{{ question.id }}">
      <div class="contentImg backgroundcolorwhite {{ question.id }} 0">
        <img src="img/icons/emoticones96/icons8-loudly-crying-face-96.png" data-micron="tada">
        <p>0</p>
      </div>
    </a>
  </li>
</ul>